extends layout

block content    
  #status
    h2 System Status
    table
      tr
        td 
          b BeagleBone:
        td
          #logger 
      tr
        td
          b DigiX:
        td
          #DigiStatus
      tr
        td
          b Remote 1:
        td
          #DigiRem1Status
      tr
        td
          b Remote 2:
        td
          #DigiRem2Status

    h2 Settings
    p Data to graph: 
       input#dataSampleInput(value= '#{sampleNum}', type='text')
    p Time between refresh (sec)
       input#refreshTimeInput(value= '#{refreshRate}', type='text')

    button#submitBtn Submit

  #content
    h1= title

    #legendholder(style='margin-left: 110px;')
    #placeholder(style='width:800px;height:400px')

    h2 Current Readings
    #tablediv
      table
       thead
         tr 
           td 
             b Timestamp
           td
             b Outside Temp
           td
             b Power usage
           td
             b DigiX Temp
           td
             b Rem 1 Temp
           td
             b Rem 2 Temp
         tbody
           tr
             td
               #currTime
             td
               #currTemp
             td
               #currUsage
             td
               #currDigiX
             td
               #currDigiXRem1Temp
             td
               #currDigiXRem2Temp
