extends layout

block content    
    h1= title
    
    h2 Graph over time
    br
    #placeholder(style='width:700px;height:300px')
    
    h2 Current Readings
    #tablediv
      table
       thead
         tr 
           td 
             b Timestamp
           td
             b Temperature
           td
             b Power usage
         tbody
           tr
             td
               #currTime
             td
               #currTemp
             td
               #currUsage
    h2 Settings
    p Data samples to graph: 
       input#dataSampleInput(value= '#{sampleNum}', type='text')
    p Time between refreshes (seconds)
       input#refreshTimeInput(value= '#{refreshRate}', type='text')
    br
    button#submitBtn send

