doctype html
html
  head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src='jquery/dist/cdn/jquery-2.1.0.js')
      script(src='flot/jquery.flot.js')
      script(src='flot/jquery.flot.time.js')
      script(src='/socket.io/socket.io.js')  
      script(src='javascripts/main.js')

  body
  
    block content
